

/* Pictures */

/* WEK 2023 */
.Logo-WEK23-1 {
  background-image: url(/images/WEK23-1.JPG);
}

@font-face {
  font-family: "Genesys";
  src: local("Genesys"),
    url("./fonts/Genesys/Genesys.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Mayhem";
  src: local('Mayhem') url(/fonts/mayhem/MAYHEM-Regular.ttf) format('Mayhem');
}

/* DraftAuto Format Classes */

.dA-bin-c{
  font-family: "Mayhem";
  text-align: center;
  color: antiquewhite;
}

.dA-bin{
  font-family: "Mayhem";
}

.dA-bin-sm{
  font-family: "Mayhem";
  font-size: small;
}

/* Blog Format classes */

.blogtitle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  display: flex;
  width: 75%;
  font-weight: bold;
}

.blog{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  display: flex;
  width: 75%;
}

.blog-c{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  text-align: center;
  margin: 5%;
}

.blog-r{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  text-align: right;
  margin-right: 5%;
}

.blog-l{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  text-align: left;
  margin-left: 5%;
}

body {
  height: 100%;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-width: 85%;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

div{
  min-width: 90%;
  min-height: 90%;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

